.App {
  text-align: center;
  min-height: 100vh;
  .img {
    width: 10rem;
    height: 10rem;
  }
  .App-header {
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    .title {
      color: orange;
      font-weight: 700;
      font-size: 3rem;
    }
  }
  .cards_board {
   
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .card {
      transform-style: preserve-3d;
      transition: .5s linear .1s;
      position: relative;
      width: 15em;
      height: 20em;
      margin: 3rem;
    }
    .active-side {
      .card-front {
        transform: rotateY(180deg);
    }
      .card-back {
        transform: rotateY(0deg);
    }
    }
    .card:hover {
      cursor: pointer;
    }
    .card-side {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      border: solid 5px orangered;
      border-radius: 20px;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      transform-style: preserve-3d;
      transition: -webkit-transform ease 500ms;
      transition: transform ease 500ms;
    }
    .card-front {
      background-color: orange;
      transform: rotateY(0deg);
    }
    .card-back {
      transform: rotateY(-180deg);
      .image_back-side {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border-radius: 15px;
        position: relative;
      }
    }
  }
}




