.card {
    transform-style: preserve-3d;
    transition: .5s linear .1s;
    position: relative;
    width: 10em;
    height: 13em;
    margin: 1rem;
  }
  .active-side {
    .card-front {
      transform: rotateY(180deg);
  }
    .card-back {
      transform: rotateY(0deg);
  }
  }
  .card:hover {
    cursor: pointer;
  }
  .card-side {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    border: solid 5px orangered;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transform-style: preserve-3d;
    transition: -webkit-transform ease 500ms;
    transition: transform ease 500ms;
  }
  .card-front {
    background-color: orange;
    transform: rotateY(0deg);
  }
  .card-back {
    transform: rotateY(-180deg);
    .image_back-side {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border-radius: 15px;
      position: relative;
    }
  }